
#btnNextStep2 input[type="text"],
#btnNextStep2 input[type="password"],
#btnNextStep2 textarea,
#btnNextStep2 textarea.form-control {
    height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

#btnNextStep2 textarea,
#btnNextStep2 textarea.form-control {
    height: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 30px;
}

#btnNextStep2 input[type="text"]::-webkit-input-placeholder,
#btnNextStep2 input[type="password"]::-webkit-input-placeholder,
#btnNextStep2 textarea::-webkit-input-placeholder,
#btnNextStep2 textarea.form-control::-webkit-input-placeholder {
    color: #888;
}

#btnNextStep2 label {
    font-weight: 300;
}


.f1-buttons button.btn {
    min-width: 105px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.f1-buttons button.btn.btn-next,
.f1-buttons button.btn.btn-next:focus,
.f1-buttons button.btn.btn-next:active:focus,
.f1-buttons button.btn.btn-next.active:focus {
    background: #f35b3f;
}
