
a:hover {
    text-decoration: none;
}

.navbar-search-input::-webkit-input-placeholder {
    color: #D95E00;
}

.navbar-search-input:-moz-placeholder {
    color: #D95E00;
}

.dropdown-menu .open > a, .dropdown-menu .open > a:focus, .dropdown-menu .open > a:hover {
    background-color: #D95E00;
    border-bottom: 1px solid transparent;
    color: #fff;
}

.navbar-search-input::-moz-placeholder {
    color: #D95E00;
}

.navbar-search-input:-ms-input-placeholder {
    color: #D95E00;
}

.navbar-search-open .navbar-search-icon {
    background: #D95E00;
}

.navbar-search-open .navbar-search-submit {
    background: #D95E00;
}

#page_scroller {
    background: #D95E00;
}

.setting-button{
    background: #D95E00;
}

.option-panel h2{
    color: #D95E00;
}

.list-inline-listing .active{
    background: #D95E00;
}

.list-inline-listing li:hover{
    background: #D95E00;
}

.main-title h1 span{
    color: #D95E00;
}

.button-theme {
    background: #D95E00;
    border: 2px solid #D95E00;
}

.button-theme:hover {
    background: #e49755;
    border: 2px solid #e49755;
}

.search-contents .dropdown-menu>li>a:hover {
    color: #fff;
    background: #D95E00;
    border: 0;
}

.border-button-sm:hover{
    background: #D95E00;
    border: 2px solid #D95E00;
    color: #fff;
}

.hotel-box-2 .price {
    color: #e49755;
}

.error404-content h1 {
    color: #D95E00;
}

.our-facilties ul li i{
    border: solid 2px #D95E00;
    color: #D95E00;;
}

.newsletter form .button-small {
    border: solid 1px #D95E00;
    background: #D95E00;
}

.fecilities li i{
    color: #D95E00;
}

.newsletter form .button-small:hover {
    border: solid 1px #e49755;
    background: #e49755;
}

.coming-soon-box .social-list li a:hover{
    border: solid 1px #e49755;
    background: #e49755;
}

.rooms-features ul li i {
    color: #D95E00;
}

.coming-soon-box form .button-small {
    border: solid 1px #D95E00;
    background: #D95E00;
}

.border-button-theme {
    border: 2px solid #D95E00;
    color: #D95E00;
}

.search-contents h2 span{
    color: #D95E00;
}

.border-button-theme:hover {
    background: #D95E00;
    color: #fff;
}

.theme-tabs .nav-tabs > li > a {
    background: #D95E00;
}

.theme-tabs .nav-tabs > li.active > a,
.theme-tabs .nav-tabs > li > a:hover {
    color: #D95E00 !important;
}

.theme-tabs .nav-tabs > li > a::after {
    background: #D95E00;
}

.theme-tabs .tab-nav > li > a::after {
    background: #D95E00 none repeat scroll 0% 0%;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    border-color: #D95E00;
    border-bottom: transparent;
}

.search-button {
    background: #D95E00;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #D95E00 !important;
    border-bottom: solid 3px #D95E00 !important;
}

.main-header-4 .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #D95E00 !important;
    border-bottom: solid 3px #D95E00;
}

.main-header .navbar-default .nav > li > a:hover{
    color: #D95E00;
    border-bottom: solid 3px #D95E00;
}

.main-title-2 h1 a {
    color: #D95E00;
}

.intro-section {
    background: #D95E00;
}

.search-button:hover {
    color: #fff;
    background: #e49755;
}

.panel-box .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #D95E00;
    border-radius: 0;
}

.panel-box ul li a:hover{
    background: #D95E00;
    color: #fff;
    border-radius: 0;
}

span.round-tab {
    border: 2px solid #D95E00;
}

span.round-tab i{
    color:#D95E00;
}

.wizard li.active span.round-tab {
    background: #D95E00;
    border: 2px solid #D95E00;
}

.wizard li:after {
    border-bottom-color: #D95E00;
}

.wizard li.active:after {
    border-bottom-color: #D95E00;
}

.booking-flow .panel-box .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 2px solid #D95E00;
}

span.round-tab:hover {
    border: 2px solid #D95E00;
    background: #D95E00;
}

.course-panel-box .nav-tabs>li>a:hover {
    color: #fff;
    background: #D95E00;
    border: none;
}

.heading-rooms  p i{
    color: #D95E00;
    margin-right: 5px;
}

.panel-box span a {
    color: #D95E00;
}

.panel-box .panel-heading .panel-title a i{
    color: #D95E00;
}

.heading-rooms  h3 {
    color: #D95E00;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #D95E00;
}

.for-sale {
    background: #D95E00;
}

.advantages ul li span{
    color: #D95E00;
}

.footer-info .social-list li a:hover{
    background: #D95E00;
    border: solid 1px #D95E00;
    color: #fff;
}

.category-content .btn, .category-content .pricing-btn {
    background: #D95E00;
}

.our-staff-box .title a{
    color: #D95E00;
}

.search-area-box-2 h1{
    color: #D95E00;
}

.testimonials .content .author-name{
    color: #D95E00;
}

.dropdown-menu>li>a:hover {
    color: #fff;
    background: #D95E00;
}

.plan.featured .price-header {
    background: #D95E00;
}

.listing-properties-box .detail header.title a {
    color: #D95E00;
}

.listing-properties-box .detail .title::after {
    background-color: #D95E00;
}

.pagination > li > a:hover {
    background: #D95E00;
    border-color: #D95E00;
}

.pagination > .active > a {
    background: #D95E00;
    border-color: #D95E00;
}

.pagination > .active > a:hover {
    background: #D95E00;
    border-color: #D95E00;
}

.blog-box .detail .post-meta span a i {
    color: #D95E00;
}

.our-staff-box-list .staff-content h1 a{
    color: #D95E00;
}

.form-content-box .footer span a {
    color: #D95E00;
}

.our-staff-box-big .staff-content h1 a:hover{
    color: #D95E00;
}

.archives ul li a:hover{
    color: #D95E00;
}

.category-posts ul li a:hover {
    color: #D95E00;
}

.tags-box ul li a:hover {
    border: 1px solid #D95E00;
    background: #D95E00;
}

.latest-tweet a {
    color: #D95E00;
}

.recent-news .media-heading a {
    color: #D95E00;
}

.comment-meta-author a {
    color: #D95E00;
}

.comment-meta-reply a {
    background-color: #D95E00;
}

.contact-details .media .media-left i {
    background: #D95E00;
}

.about-text ul li i {
    color: #D95E00;
}

.breadcrumbs li a:hover {
    color: #D95E00;
}

.top-header ul li a:hover {
    color: #D95E00;
}

.services-box-2 i{
    background: #D95E00;
}

.helping-center .icon {
    color: #D95E00;
}

.header-contact ul li i {
    color: #D95E00;
}

.services-box i{
    color: #D95E00;
}

.customers-say-box .detail ul li i{
    color: #D95E00;
}

.attachments a:hover{
    color: #D95E00;
}


.hotel-box .detail h3 a{
    color: #D95E00;
}

.hotel-box-list .detail h3 a{
    color: #D95E00;
}

.events-box .date-box {
    color: #D95E00;
}

.events-box h1 a{
    color: #D95E00;
}

.events-box .events-box-content h1 a{
    color: #D95E00;
}

.blog-box .date-box{
    background: #D95E00;
}

.events-box .events-box-content ul li i{
    color: #D95E00;
}

.events-box-grid .events-content ul li i{
    color: #D95E00;
}

.additional-details-list li a:hover{
    color: #D95E00;
}

table.manage-table td.action a:hover{
    color: #D95E00;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #D95E00;
    background-color: #D95E00;
}

.numbered.color ol > li::before {
    border: 1px solid #D95E00;
    color: #D95E00;
}

.map-edu-list li i{
    color: #D95E00;
}

.main-header-4 .navbar-default .nav > li > a:hover {
    color: #D95E00 !important;
}

.flatpickr-day.selected, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover {
    border-color: #D95E00;
    background: #D95E00;
    color: #fff;
}

.flatpickr-current-month {
    color: #D95E00;
}

.flatpickr-month {
    fill: #D95E00;
}

.flatpickr-next-month svg:hover, .flatpickr-prev-month svg:hover {
    fill: #D95E00;
}

@media (max-width: 768px) {

    .navbar-default .navbar-toggle .icon-bar {
        background: #D95E00;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #D95E00;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        border-bottom: solid 1px #D95E00;
    }

    .main-header .navbar-default .nav > li > a:hover {
        border-bottom: solid 1px #D95E00;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        color: #D95E00 !important;
        border-bottom: solid 1px #D95E00 !important;
    }

}


