@media (max-width: 767px){
	.pre-loader{background-size: 43%;}
	.user-info-dropdown .dropdown-toggle .user-name{display: none;}
	.user-notification {margin-right: 15px;}
	.user-notification .dropdown-menu{width: 100%; min-width: 300px; }
}