@using LC.Framework

@{
	List<string> scripts = new List<string>();
	scripts.Add("~/Content/plugins/jquery-ui-1.11.4/jquery-ui.min.js");
	scripts.Add("~/Content/plugins/jquery-ui-DialogExtend/jquery.dialogextend.js");
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Phan Tấn Tài</title>
	<link href="~/Content/flaty/assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

</body>
</html>
